*
{
	user-select: none !important;
	outline: none !important;
	text-decoration: none !important;
}
.SiteText
{
	display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.SmText
{
	font-size: 30px;
}
.Content
{
	margin-top: 30px;
	display: inline-block;
}

.et-hero-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: relative;
    background: #eee;
	text-align: center;
    top: 0px !important;
    position: fixed;
}
.et-slide
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: white;
    text-align: center;
}
.alert-position
{
    margin-top: 180px;
}
.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;
}
.et-hero-tab:hover
{
	color:white;
    background: rgba(102,177,241,0.8);
	transition: all 0.5s ease;
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

.footer
{
    height: 150px;
}

a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}